*{
    text-align: center;
    box-sizing: border-box;
    
    }


    form{
        
        margin: auto;
        height: 40px;

     }   
     
   
     form input {
        background-color: white;
        
        font-size: 13px;
        height: 90%;
        width: 300px;
        outline: 3px black solid;
        border-radius: 50px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-align: center;
       
}

form button {
        
    background-color:black;
    border-color: 3px solid black;
    color: white;
    outline: none;
    height: 60%;
    width: 60px;
    cursor: pointer;
    border-radius: 40%;
    margin-left: -2cm;
}   

    

span{
    color:#050505;
    margin: top 20px;;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.insta{
   
    margin-left: -5cm;
    margin-top: -0.2cm;
}

.youtu{
    
    margin-right: -5.5cm;
    margin-top: -1.65cm;
}